<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Deletar mangá</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center mb-4">
        <div class="col-md-12">
            <h3 class="d-flex justify-content-center">Tem certeza que deseja deletar esse mangá?</h3>

            <div class="d-flex justify-content-center">
                <button class="btn btn-danger mr-5" routerLink='/mangas'>Cancelar</button>
                <button class="btn btn-success" (click)='deletar()'>Deletar</button>
            </div>
        </div>
    </div>
</div>
